:root{
  --space-size: 2rem;
  --count-column: 12;
}
.container{
  --padding-value: calc(var(--space-size)/2);

  width:100%;
  padding-left: var(--padding-value);
  padding-right: var(--padding-value);
  margin-left:auto;
  margin-right:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--padding-value)*-1);
  margin-right: calc(var(--padding-value)*-1);
}
.row > *{
  padding-left: var(--padding-value);
  padding-right: var(--padding-value);
}
.no-space{
  margin: 0;
}
.no-space > *{
  padding: 0;
}
.col-1{
  --size: calc(100% / var(--count-column) * 1);
  flex-basis: var(--size);
  max-width: var(--size);
}
.col-2{
  --size: calc(100% / var(--count-column) * 2);
  flex-basis: var(--size);
  max-width: var(--size);
}
.col-3{
  --size: calc(100% / var(--count-column) * 3);
  flex-basis: var(--size);
  max-width: var(--size);
}
.col-4{
  --size: calc(100% / var(--count-column) * 4);
  flex-basis: var(--size);
  max-width: var(--size);
}
.col-5{
  --size: calc(100% / var(--count-column) * 5);
  flex-basis: var(--size);
  max-width: var(--size);
}
.col-6{
  --size: calc(100% / var(--count-column) * 6);
  flex-basis: var(--size);
  max-width: var(--size);
}
.col-7{
  --size: calc(100% / var(--count-column) * 7);
  flex-basis: var(--size);
  max-width: var(--size);
}
.col-8{
  --size: calc(100% / var(--count-column) * 8);
  flex-basis: var(--size);
  max-width: var(--size);
}
.col-9{
  --size: calc(100% / var(--count-column) * 9);
  flex-basis: var(--size);
  max-width: var(--size);
}
.col-10{
  --size: calc(100% / var(--count-column) * 10);
  flex-basis: var(--size);
  max-width: var(--size);
}
.col-11{
  --size: calc(100% / var(--count-column) * 11);
  flex-basis: var(--size);
  max-width: var(--size);
}
.col-12{
  --size: calc(100% / var(--count-column) * 12);
  flex-basis: var(--size);
  max-width: var(--size);
}


@media screen and (min-width: 576px){
  .container{
    width:540px;
  }
  .col-sm-1{
    --size: calc(100% / var(--count-column) * 1);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-sm-2{
    --size: calc(100% / var(--count-column) * 2);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-sm-3{
    --size: calc(100% / var(--count-column) * 3);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-sm-4{
    --size: calc(100% / var(--count-column) * 4);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-sm-5{
    --size: calc(100% / var(--count-column) * 5);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-sm-6{
    --size: calc(100% / var(--count-column) * 6);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-sm-7{
    --size: calc(100% / var(--count-column) * 7);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-sm-8{
    --size: calc(100% / var(--count-column) * 8);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-sm-9{
    --size: calc(100% / var(--count-column) * 9);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-sm-10{
    --size: calc(100% / var(--count-column) * 10);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-sm-11{
    --size: calc(100% / var(--count-column) * 11);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-sm-12{
    --size: calc(100% / var(--count-column) * 12);
    flex-basis: var(--size);
    max-width: var(--size);
  }
}
@media screen and (min-width: 768px){
  .container{
    width:720px;
  }
  .col-md-1{
    --size: calc(100% / var(--count-column) * 1);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-md-2{
    --size: calc(100% / var(--count-column) * 2);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-md-3{
    --size: calc(100% / var(--count-column) * 3);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-md-4{
    --size: calc(100% / var(--count-column) * 4);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-md-5{
    --size: calc(100% / var(--count-column) * 5);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-md-6{
    --size: calc(100% / var(--count-column) * 6);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-md-7{
    --size: calc(100% / var(--count-column) * 7);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-md-8{
    --size: calc(100% / var(--count-column) * 8);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-md-9{
    --size: calc(100% / var(--count-column) * 9);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-md-10{
    --size: calc(100% / var(--count-column) * 10);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-md-11{
    --size: calc(100% / var(--count-column) * 11);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-md-12{
    --size: calc(100% / var(--count-column) * 12);
    flex-basis: var(--size);
    max-width: var(--size);
  }
}
@media screen and (min-width: 992px){
  .container{
    width:960px;
  }
  .col-lg-1{
    --size: calc(100% / var(--count-column) * 1);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-lg-2{
    --size: calc(100% / var(--count-column) * 2);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-lg-3{
    --size: calc(100% / var(--count-column) * 3);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-lg-4{
    --size: calc(100% / var(--count-column) * 4);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-lg-5{
    --size: calc(100% / var(--count-column) * 5);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-lg-6{
    --size: calc(100% / var(--count-column) * 6);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-lg-7{
    --size: calc(100% / var(--count-column) * 7);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-lg-8{
    --size: calc(100% / var(--count-column) * 8);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-lg-9{
    --size: calc(100% / var(--count-column) * 9);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-lg-10{
    --size: calc(100% / var(--count-column) * 10);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-lg-11{
    --size: calc(100% / var(--count-column) * 11);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-lg-12{
    --size: calc(100% / var(--count-column) * 12);
    flex-basis: var(--size);
    max-width: var(--size);
  }
}
@media screen and (min-width: 1200px){
  .container{
    width:1140px;
  }
  .col-xl-1{
    --size: calc(100% / var(--count-column) * 1);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-xl-2{
    --size: calc(100% / var(--count-column) * 2);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-xl-3{
    --size: calc(100% / var(--count-column) * 3);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-xl-4{
    --size: calc(100% / var(--count-column) * 4);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-xl-5{
    --size: calc(100% / var(--count-column) * 5);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-xl-6{
    --size: calc(100% / var(--count-column) * 6);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-xl-7{
    --size: calc(100% / var(--count-column) * 7);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-xl-8{
    --size: calc(100% / var(--count-column) * 8);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-xl-9{
    --size: calc(100% / var(--count-column) * 9);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-xl-10{
    --size: calc(100% / var(--count-column) * 10);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-xl-11{
    --size: calc(100% / var(--count-column) * 11);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-xl-12{
    --size: calc(100% / var(--count-column) * 12);
    flex-basis: var(--size);
    max-width: var(--size);
  }
}
@media screen and (min-width: 1400px){
  .container{
    width:1320px;
  }
  .col-xxl-1{
    --size: calc(100% / var(--count-column) * 1);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-xxl-2{
    --size: calc(100% / var(--count-column) * 2);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-xxl-3{
    --size: calc(100% / var(--count-column) * 3);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-xxl-4{
    --size: calc(100% / var(--count-column) * 4);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-xxl-5{
    --size: calc(100% / var(--count-column) * 5);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-xxl-6{
    --size: calc(100% / var(--count-column) * 6);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-xxl-7{
    --size: calc(100% / var(--count-column) * 7);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-xxl-8{
    --size: calc(100% / var(--count-column) * 8);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-xxl-9{
    --size: calc(100% / var(--count-column) * 9);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-xxl-10{
    --size: calc(100% / var(--count-column) * 10);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-xxl-11{
    --size: calc(100% / var(--count-column) * 11);
    flex-basis: var(--size);
    max-width: var(--size);
  }
  .col-xxl-12{
    --size: calc(100% / var(--count-column) * 12);
    flex-basis: var(--size);
    max-width: var(--size);
  }
}