.navigation {
  background-color: var(--bg-color);
  padding: 1rem 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: none;
  color: var(--accent-color);
  text-transform: uppercase;
  font-family: "Revalia", cursive;
  font-size: 2rem;
  transform: translateY(-0.5rem);
}

.nav-list {
  display: flex;
  overflow-x: auto;
}

.nav-list::-webkit-scrollbar {
  display: none;
}

.nav-item + .nav-item {
  margin-left: 1rem;
}

.nav-link {
  white-space: nowrap;
  text-transform: uppercase;
}

@media screen and (min-width: 576px) {
  .logo {
    display: block;
  }

  .flex {
    justify-content: space-between;
  }
}
