.main-screen {
  background-color: var(--bg-color);
  text-align: center;
}

.wrapper-main-img {
  min-width: 70%;
  width: 80%;
  max-width: 90%;
  margin: 0 auto;
}

.response-wrapper {
  padding-top: 65%;
  position: relative;
}

.main-img {
  display: block;
  max-width: 100%;
  width: inherit;
  height: 100%;
  margin: auto;
  object-fit: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

@media screen and (min-width: 768px) {
  .main-screen {
    text-align: left;
  }
}

@media screen and (min-width: 992px) {
  .wrapper-main-img {
    max-width: 70%;
  }
}

@media screen and (min-width: 1240px) {
  .wrapper-main-img {
    max-width: 60%;
  }
}
